.customer-profile-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.customer-profile-settings {
    background: var(--dark-color);
    padding: 2em;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.customer-profile-settings h4 {
    color: white;
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customer-profile-settings form {
    background: white;
}

.customer-profile-settings form label {
    margin-top: 1em;
}

.customer-profile-settings form input {
    width: 20em;
}

.customer-profile-appointments {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
    padding: 0em 2em;
}

.customer-profile-upcoming-appointments,
.customer-profile-past-appointments {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.customer-profile-upcoming-appointments .pagination,
.customer-profile-past-appointments .pagination {
  margin-top: 1em;
  align-self: center;
}

.customer-profile-appointment-container {
    background: white;
    display: flex;
    border-radius: 1em;
    align-items: center;
}

.customer-profile-appointment-container img {
    width: 5em;
}

.appointment-date,
.appointment-data,
.appointment-image {
    padding: 1em 2em;
    text-transform: capitalize;
}

.appointment-image {
    margin-left: auto;
}

.appointment-date {
    border-right: 1px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 18px;
}

.appointment-date p:nth-child(2) {
    font-weight: bold;
}

.appointment-date p:nth-child(3) {
    margin-top: 1em;
    text-decoration: underline;
    color: red;
}

.appointment-data p:nth-child(1) {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.pagination button {
    background: var(--accent-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: white;

}

.delete-button {
    margin-top: 1em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    background: red;
    border-radius: 1em;
    border: none;
    padding: 0.5em 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

.delete-button:hover,
.pagination button,
.customer-profile-appointment-container img:hover,
.appointment-date p:nth-child(3):hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .customer-profile-container,
    .customer-profile-appointments {
        flex-wrap: wrap;
        gap: 1em;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    .customer-profile-settings {
        width: 100%;
    }

    .customer-profile-upcoming-appointments,
    .customer-profile-past-appointments {
        padding: 1em;
    }
}