.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.calendar-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.calendar-heading {
    display: flex;
    justify-content: center;
}

.calendar-header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.calendar-month {
    width: 350px;
    text-align: center;
}

.calendar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar-day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

.today {
    background-color: #007BFF;
    color: white;
}

.past {
    color: gray;
}

.schedule-hours { 
    display: flex;
    flex-wrap: wrap;
}

.schedule-hours {
    margin-top: 2em;
}


.schedule-hours h5 {
    padding: 0.5em 1em;
}

.hour-button {
    cursor: pointer;
    margin: 5px;
}

.booked {
    background-color: red;
    color: white;
    pointer-events: none;
}

.available {
    background-color: green;
    color: white;
}

.selected {
    background-color: var(--light-color);
}

.available-hours {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.available-hours h5 {
    padding: 0.3em 0.5em;
}
