/* Global CSS */

.salon-settings-container {
    display: flex;
    background: rgba(230, 229, 229, 0.581);
    justify-content: space-between;
    padding: 2em;
    gap: 2em;
}

.settings-individual-heading,
.settings-appointments-view,
.schedule-settings-contents {
    margin-top: 2em;
}

.settings-form-container form,
.settings-add-team-member-container form,
.settings-add-new-service-container form {
    background: rgba(255, 255, 255, 0.61);
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.settings-navigation-container {
    width: 20%;
    box-sizing: border-box;
}

.settings-details-container {
    width: 70%;
    box-sizing: border-box;
}

.settings-active-schedule-container {
    width: 20%;
    box-sizing: border-box;
}

input {
    border: none;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 5px;
    background: inherit;
    outline: none;
    padding: 0.5em 1em;
    width: 14em;
}

.settings-details-container textarea {
    resize: vertical;
    height: 7em;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 0.5em;
    padding: 1em;
}

/* Navigation CSS */

.settings-navigation-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.settings-navigation-container li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
}

.settings-navigation-container li svg {
    font-size: 1.5rem;
}

.active {
    background: rgb(187, 186, 186);
    border-radius: 1em;
}

/* Today schedule */

.busy {
    background: red;
}

.free {
    background: #257b45;
}

.break {
    background: grey;
}

.settings-appointments-view {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.settings-appointment {
    display: flex;
    gap: 1em;
    color: white;
    padding: 0.5em 1em;
    align-items: center;
    border-radius: 0.5em;
}

/* Account CSS */

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row.row {
    flex-direction: row;
    gap: 1em;
}

/* Team CSS */

.settings-team-contents {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

.settings-team-members {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em;
    text-align: center;
}

.settings-team-members h4 {
    margin-bottom: 10px;
}

.settings-team-members svg:hover {
    cursor: pointer;
}

.settings-team-members-container img {
    width: 6em;
    margin-bottom: 2em;
}

/* Services CSS */

.settings-service {
    display: flex;
    gap: 2em;
    background: rgba(255, 255, 255, 0.61);
    padding: 1em 2em;
    border-radius: 1em;
    justify-content: space-between;
    margin-bottom: 5px;
}

.settings-buttons-container {
    display: flex;
    gap: 1em;
}

.settings-buttons-container svg {
    font-size: 1.3em;
}

.settings-buttons-container svg:hover {
    cursor: pointer;
}

.settings-single-service {
    padding: 2em 0em;
}

.setting-service-details {
    display: flex;
    gap: 2em;
}

/* Reviews CSS */

.review-settings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.settings-review-container {
    margin-top: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 2em;
    background: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 15em;
    text-align: center;
}

/* Appointments CSS */

.appointments-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
    justify-content: space-between;
}

.navigation-buttons {
    display: flex;
    gap: 1em;
}

.week-title {
    font-weight: bold;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
}

.day-name {
    font-weight: bold;
}

.day-date {
    color: #666;
}

.slots {
    margin-top: 12px;
    width: 100%;
}

.slot {
    padding: 6px 2px;
    margin-bottom: 6px;
    border-radius: 6px;
    text-align: center;
}

.slot.free {
    background-color: #e0f8e9;
    color: #257b45;
}

.slot.break {
    background-color: #fff3cd;
    color: #856404;
}

.slot.booked {
    background-color: #f8d7da;
    color: #721c24;
}

.slot.none {
    color: #999;
    text-align: center;
}

.appointments-settings-title {
    margin-bottom: 2em;
}

.appointments-form,
.appointments-form input {
    width: 10em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.appointments-form button {
    width: 10em;
    align-self: flex-start;
}

.edit-schedule {
    margin-bottom: 1em;
    text-align: center;
    background: rgb(172, 172, 172);
    border: 1px solid grey;
    border-radius: 2em;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px 10px;
}

.past {
    background: rgba(194, 194, 194, 0.664);
}