.salon-information {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    text-align: center;
}

.salon-services {
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
}

.service-container {
    display: flex;
    justify-content: space-between; 
    margin: 0.2em;
    min-width: 35em;
    padding: 1em 2em;
    background: var(--light-color);
    border-radius: 1em;
    align-items: center;
}

.service-container h2 {
    flex: 1;
    margin: 0;
    text-align: center;
}

.service-container:hover {
    background: #94cff0;
}

.salon-team {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2em;
}

.team-members,
.salon-reviews {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5em;
    padding: 3em;
}

.salon-team img {
    max-width: 5em;
}

.review-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 2em;
    background: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}