.calendar-container {
    background-color: var(--light-color);
    border-radius: 2em;
    flex: 1;
    padding: 2em;
}

.calendar-heading {
    display: flex;
    gap: 5em;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.calendar-buttons {
    display: flex;
    gap: 2em;
}

.caledar-contents {
    display: flex;
    gap: 0.5em;
    text-align: center;
    padding: 2em;
}

.caledar-contents p:nth-child(1) {
    font-weight: bold;
}

.calendar-day-card {
    border: 1px solid var(--lighter-color);
    border-radius: 0.7em;
    padding: 0.5em;
    flex: 1;
    min-width: 0;
}

.calendar-day-heading {
    border-bottom: 1px solid var(--accent-color);
    padding: 0.5em 1em;
}

.calendar-day-heading p:nth-child(3) {
    background: var(--accent-color);
    border-radius: 2em;
    color: white;
    padding: 0.3em 1em;
    margin-top: 1em;
}

.calendar-buttons button {
    border: none;
    background: var(--accent-color);
    padding: 0.5em;
    color: white;
    border-radius: 60%;
}

.day-slots {
    padding: 1em;
}

.slot {
    padding: 0.4em 1.5em;
    border-radius: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.salon-free,
.customer-free {
    background-color: #5ac45e;
}

.salon-booked {
    background-color: #fe4c3f;
}

.salon-break,
.customer-break,
.customer-not-available,
.customer-booked {
    background-color: #BDBDBD;
    color: rgb(63, 62, 62);
}

.slot:hover {
    cursor: pointer;
}

.customer-break,
.customer-not-available,
.customer-booked {
    cursor: default !important;
    pointer-events: none;
}

.past {
    background: rgba(183, 182, 182, 0.53);
}

.past .customer {
    background-color: var(--dark-color) !important;
    color: white;
    pointer-events: none;
}

.today {
    background: var(--accent-color);
    color: white;
}

.calendar-edit-delete-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.calendar-edit-delete-buttons svg {
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.calendar-edit-delete-buttons svg:hover {
    transform: scale(1.1);
}

.disabled-slot {
    background-color: #ddd;
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
}