.calendar-container {
    display: flex;
    gap: 5em;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.calendar {
    background: rgba(255, 255, 255, 0.61);
    padding: 2em;
    border-radius: 1em;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin: 0em 1em 2em 1em;
    align-items: center;
    font-size: 1em;
}

.calendar-buttons {
    display: flex;
    gap: 1em;
}

.calendar-buttons:hover {
    cursor: pointer;
}

.calendar-heading {
    width: 100%;
    display: flex;
}

.calendar-heading span {
    width: calc(100% / 7);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days span {
    width: calc(100% / 7);
    aspect-ratio: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-today {
    border: 1px solid grey;
    border-radius: 40%;
}

.user-past {
    color: grey;
    cursor: default !important;
}

.user-working {
    color:green;
}

.user-not-working {
    color: red;
    cursor: default !important;
}

.selected {
    background: var(--light-color) !important;
    color: black !important;
    border-radius: 50%;
}