.calendar-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
}

.navigation-buttons {
    display: flex;
    gap: 2em;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
}

.calendar-grid {
    display: flex;
    gap: 4px;
}

.day-card {
    width: 11em;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}

.day-card-heading {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    border-bottom: 1px solid grey;
    padding: 1em;
}

.day-card-slots {
    padding: 0.5em 0.5em;
}

.day-card p:nth-child(1) {
    font-weight: bold;
    letter-spacing: 1px;
}

.slot {
    padding: 0.4em 1.5em;
    border-radius: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.salon-free,
.customer-free {
    background-color: #5ac45e;
}

.salon-booked {
    background-color: #fe4c3f;
}

.salon-break,
.customer-break,
.customer-not-available,
.customer-booked {
    background-color: #BDBDBD;
    color: rgb(63, 62, 62);
}

.slot:hover {
    cursor: pointer;
}

.customer-break,
.customer-not-available,
.customer-booked {
    cursor: default !important;
    pointer-events: none;
}

.past {
    background: rgb(182, 180, 180);
}

.past .customer {
    background-color: #c0c0c0 !important;
    color: #7a7a7a !important;
    pointer-events: none;
}