.form-container form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.form-heading {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: black;
}

.form-container form label {
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 1em;
    color: black;
    font-weight: bold;
}

.form-container form input {
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    border: none;
    border-bottom: 1px solid var(--dark-color);
    background: inherit;
    outline: none;
}