.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 4em;
    background: var(--background);
    color: black;
}

.navigation-logo-container img {
    width: 20%;
    height: auto;
}

.navigation-links-container ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.navigation-links-container ul li {
    position: relative;
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navigation-links-container ul li::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--accent-color);
    transition: width 0.3s ease-in;
}

.navigation-links-container ul li:hover {
    cursor: pointer;
}

.navigation-links-container ul li:hover::after {
    width: 100%;
}

.navigation-container a {
    text-decoration: none;
    color: inherit;
}

.navigation-links-container .custom-button {
    background: var(--accent-color);
    color: white;
    padding: 12px 15px;
    width: auto;
    text-align: center;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.navigation-links-container .custom-button:hover {
    background-color: var(--light-color);
    color: black;
}
