.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 4em;
    background: var(--dark-color);
    color: white;
}

.navigation-logo-container img {
    width: 20%;
    height: auto;
}

.navigation-links-container ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.navigation-links-container ul li {
    position: relative;
}

.navigation-links-container ul li::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in;
}

.navigation-links-container ul li:hover {
    cursor: pointer;
}

.navigation-links-container ul li:hover::after {
    width: 100%;
}

.navigation-container a {
    text-decoration: none;
    color: inherit;
}
