.home-heading-container {
    display: flex;
    align-items: center;
    background: var(--dark-color);
    /* background-image: url('/client/public/images/14.jpg'); */
    background-image: url('/images/14.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-heading-form-container h5 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--accent-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-background-clip: text;
    transition: transform 0.3s ease, color 0.3s ease;
    line-height: 2em;
}

.home-heading-form-container h5 span {
    color: white;
}

.home-heading-form-container {
    background: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(10px);
    margin: 5em;
    border-radius: 2em;
    color: white;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 2em 4em;
}

.home-heading-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
    width: 100%;
}

.home-heading-form-container form select {
    padding: 1em;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    font-size: 1rem;
    font-family: inherit;
    width: 25em;
}

.home-heading-form-container form select:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.home-heading-form-container form button {
    width: 15em;
    margin-top: 1em;
}

.home-information-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    background: var(--light-color);
}

.home-information-card1-container svg {
    font-size: 3em;
    align-self: center;
}

.home-information-card2-container svg {
    font-size: 3em;
    align-self: center;
}

.home-information-card3-container svg {
    font-size: 3em;
    align-self: center;
}

.home-information-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--accent-color);
    padding: 1em 4em;
    border-radius: 2em;
    color: white;
    width: 20em;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(61, 60, 60, 0.463);
}

.home-information-container div:nth-child(2) {
    background: var(--lighter-color);
}

.home-information-container span {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 0.5em;
}

.home-gallery-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 5em;
    background: var(--lighter-color);
}

.salon-cards {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    gap: 1em;
}

.salon-card-information {
    background: rgba(0, 0, 0, 0.394);
    backdrop-filter: blur(5px);
    color: white;
    padding: 1em 1em;
    text-align: left;
}

.salon-card-information h3 {
    text-transform: capitalize;
    margin-bottom: 1em;
    width: 100%;
}

.no-salons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.no-salons img {
    width: 5em;
}

@media (max-width: 767px) {

    .home-heading-container {
        justify-content: center;
    }
    
    .home-heading-form-container {
        margin: 0;
        border-radius: 0;
        overflow: visible;
    }

    .home-information-container {
        flex-wrap: wrap;
        gap: 1em;
    }

    .home-information-container .home-information-card1-container,
    .home-information-container .home-information-card2-container,
    .home-information-container .home-information-card3-container {
        width: 15em;
    }

    .salon-cards {
        flex-wrap: wrap;
    }

    .salon-card {
        flex: 1 1 calc(50% - 1em);
        max-width: calc(50% - 1em);
    }
}