.salon-information {
    background: var(--dark-color);
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    color: white;
    align-items: center;
}

.salon-contact-details {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.salon-contact-details h1 {
    color: var(--accent-color);
    letter-spacing: 2px;
}

.salon-services {
    display: flex;
    margin: 1em 2em;
    gap: 2em;
}

.service-container {
    display: flex;
    flex: 1;
    min-width: 600px;
    justify-content: space-evenly;
    margin: 0.2em;
    padding: 1em 2em;
    background: white;
    border-radius: 1em;
    align-items: center;
}

.calendar-container {
    flex: 1;
    max-width: 65%;
    min-width: 400px;
}

.service-container h2 {
    flex: 1;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.service-container:hover {
    background: var(--accent-color);
    color: white;
    cursor: pointer;
}

.selected {
    background: var(--accent-color) !important;
    color: white !important;
}

.salon-team-about {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background: var(--accent-color);
    color: white;
    width: 100%;
    align-items: center;
}

.salon-team {
    text-align: center;
    align-self: center;
    flex-grow: 2;
    min-width: 50%;
}

.salon-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background: var(--background);
    color: black;
    padding: 2em;
    border-radius: 2em;
}

.salon-about-us p {
    max-width: 80%;
    line-height: 1.7em;
    margin-top: 2em;
    text-align: center;
}

.team-member {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 15em;
    gap: 0;
    border-radius: 1em;
}

.team-members {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.salon-reviews {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 3em;
}

.salon-team-member-image img {
    width: 100%;
    height: 20vh;
    margin-top: 1em;
    border-radius: 1em;
}

.salon-team-member-info {
    padding: 1em;
}

.review-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 2em;
    background: var(--lighter-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (max-width: 1360px) {
    .service-container {
        min-width: auto;
    }

    .salon-services {
        flex-direction: column;
    }

    .salon-team-about {
        flex-direction: column;
        gap: 1em;
    }

    .salon-reviews {
        gap: 1em;
    }

    .calendar-container {
        padding: 0;
        margin: 0;
        max-width: none;
    }
}